.code {
  /* width: 50%;
  margin: 0 auto; */
}

.container {
  width: 50%;
  margin: 0 auto;
}

.headerBack {
  cursor: pointer;
}

header {
  border: solid;
}

footer {
  border: solid;
  height: 40px;
}

.wrapper {
  /* height: 100vh;
  margin-bottom: -40px; */
  min-height: calc(100vh - 40px);
}

.quiz-list a {
  text-decoration: none;
  color: black;
}

.icon {
  display: inline-block;
  fill: #1dc177;
  height: 1em;
  position: relative;
  top: 0.125em;
  width: 1em;
}

.completed {
  color: white;
  border-color: #4547e0;
  background-color: #4547e0;
  padding: 15px;
  width: 70px;
  border-radius: 5px;
}
